nav {
	height: 50px;
	background-color: #1f1f1f;
	flex-wrap: wrap;
}

nav img {
	margin: 5px 5px;
	display: inline;
	transition: 0.25s ease;
	opacity: 50%;
}

nav img:hover {
	opacity: 100%;
	transform: translateX(10px);
}

ul.nav li a {
	color: white;
	text-decoration: none;
	padding-top: 2px;
}

li.nav-link {
	list-style-type: none;
}

li.nav-link > a:hover {
	text-decoration: underline;
}

nav.d-flex i {
	color: white;
	cursor: pointer;
	margin: 0px 5px;
	transition: 0.25s ease;
}

nav.d-flex i:hover {
	transform: translateX(-10px);
}

.dropdown li.nav-link a.dropdown-toggle {
	cursor: default;
}

a.dropdown-toggle {
	color: white;
	border: none;
	padding-bottom: 10px;
	margin-top: -1px;
}

.dropdown-menu {
	display: none;
	background-color: white;
	box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	border: 0;
	opacity: 90%;
}

.dropdown-menu a.dropdown-item {
	color: black;
	height: 40px;
	justify-content: center;
}

.dropdown-menu a.dropdown-item:hover {
	background-color: white;
	cursor: pointer;
	text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.carousel-item {
	flex-wrap: wrap;
	height: 500px;
	width: 100%;
}

.carousel-inner > img {
	height: 600px;
	width: 900px;
}

.carousel-item img {
	height: 600px;
	width: 100%;
}

content {
	margin: auto;
}

.page1 {
	background-color: #ebebeb;
	padding: 50px;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	display: flex;
}

.page1 .card {
	padding: 20px;
	margin: 20px 20px;
	background-color: #f7f7f7;
	box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.page2 .card {
	padding: 0;
	margin: 50px auto;
	max-width: 800px;
	background-color: #f7f7f7;
	box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn {
	text-decoration: none;
	color: white;
	background-color: #1f1f1f;
	opacity: 50%;
	transition: 0.25s;
	border-radius: 60px;
}

.btn:hover {
	opacity: 100%;
	color: white;
	background-color: #1f1f1f;
}

img.logo {
	height: 100px;
	margin: 10px;
}

footer {
	background-color: #1f1f1f;
	color: white;
}

footer .d-flex {
	justify-content: center;
	align-items: center;
}

.d-flex i {
	opacity: 50%;
	-webkit-trasition: 0.25s ease;
	transition: 0.25s ease;
	padding: 0px 10px;
}

.d-flex a {
	cursor: pointer;
}

.d-flex p.cpr {
	opacity: 50%;
}

.d-flex i:hover {
	opacity: 100%;
	-webkit-transform: scale(1.35);
	transform: scale(1.35);
}

.perlinkan a {
	opacity: 50%;
	text-align: center;
	-webkit-trasition: 0.3s ease;
	transition: 0.3s ease;
	padding: 0px 10px;
}

.perlinkan a:hover {
	opacity: 100%;
	text-decoration: underline;
}